/* style for connecting html */
/* Main file for variables throughout the app */
/* Colors */
/* Shadows */
/* Extensions */
.button {
  cursor: pointer;
  color: White;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 3px 5px #999;
  transition: box-shadow .2s ease; }
  .button:focus {
    outline: 0; }

div {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%; }
  div mtg-header {
    background-color: #d9bfa0;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    z-index: 1; }
  div mtg-main {
    background-color: #548dbf;
    display: flex;
    flex: 7;
    width: 100%;
    height: 100%; }
