/* footer styling */
/* Main file for variables throughout the app */
/* Colors */
/* Gradients */
/* Shadows */
/* Dimensions */
/* Extensions */
.button, footer .tool-button {
  cursor: pointer;
  color: White;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 3px 5px #999;
  transition: box-shadow .2s ease; }
  .button:hover, footer .tool-button:hover {
    text-shadow: 0 0px 20px currentColor; }
  .button:focus, footer .tool-button:focus {
    outline: 0; }

.flex-start {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px; }

.flex-end {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px; }

footer {
  align-items: center;
  display: flex;
  justify-content: space-between; }
  footer aside, footer main {
    flex: 1; }
  footer .life-panel {
    align-items: center;
    display: flex;
    justify-content: center; }
    footer .life-panel h1 {
      color: #3f4038;
      cursor: pointer;
      font-size: 3em;
      margin: 0 10px; }
    footer .life-panel life-button {
      margin: 5px; }
  footer .tool-button {
    background-color: #3f4038;
    border-radius: 0;
    color: white;
    height: 40px;
    margin: 10px 5px;
    padding: 0 10px;
    width: auto; }
    footer .tool-button:hover {
      box-shadow: 0 0 6px #3f4038, 0px 3px 5px #999; }
    footer .tool-button:active {
      box-shadow: inset 0px 0px 20px #777; }
