<aside>
	<header>
		<i *ngIf="!photoURL" class="fa fa-2x fa-user"></i>
		<img *ngIf="photoURL" [src]="photoURL" alt="{{ userName }}'s profile image">
		<div>{{ userName || 'placeholder'}}</div>
	</header>
	<main>
		<div>
			<i class="fa fa-2x fa-cloud"></i>
			<a (click)="hostGame()">Host Game</a>
		</div>
		<div>
			<i class="fa fa-2x fa-group"></i>
			<a (click)="joinGame()">Join Game</a>
		</div>
		<div>
			<i class="fa fa-2x fa-book"></i>
			<a (click)="deckManager()">Deck Manager</a>
		</div>
		<div>
			<i class="fa fa-2x fa-line-chart"></i>
			<a (click)="pointManager()">Point Manager</a>
		</div>
		<div>
			<i class="fa fa-2x fa-pencil-square-o"></i>
			<a (click)="storyBoard()">Storyboard</a>
		</div>
		<div>
			<i class="fa fa-2x fa-cog"></i>
			<a (click)="settings()">Settings</a>
		</div>
	</main>
</aside>
