<div name="searchComponent">
  <div>
    <div name="searchTextInputs">
      <div mtgInputHasFocus>
        <label for="nameSearch">
          Name
        </label>
        <input
          name="nameSearch"
          type="text"
          placeholder="ex: Serra Angel"
          [(ngModel)]="nameSearch"
          (keyup.enter)="search()"/>
      </div>
      <div mtgInputHasFocus>
          <label for="typeSearch">
            Type
          </label>
          <input
            name="typeSearch"
            type="text"
            placeholder="ex: Creature"
            [(ngModel)]="typeSearch"
            (keyup.enter)="search()"/>
        </div>
        <div mtgInputHasFocus>
          <label for="subtypesSearch">
            SubType
          </label>
          <input
            name="subtypesSearch"
            type="text"
            placeholder="ex: Angel"
            [(ngModel)]="subtypesSearch"
            (keyup.enter)="search()"/>
        </div>
        <div mtgInputHasFocus>
          <label for="supertypesSearch">
            SuperType
          </label>
          <input
            name="supertypesSearch"
            type="text"
            placeholder="ex: Legendary"
            [(ngModel)]="supertypesSearch"
            (keyup.enter)="search()"/>
        </div>
      <div mtgInputHasFocus>
        <label for="textSearch">
          Text
        </label>
        <input
          name="textSearch"
          type="text"
          placeholder="ex: Catch all"
          [(ngModel)]="textSearch"
          (keyup.enter)="search()">
      </div>
    </div>
  </div>
  <div name="searchRarityCheckBoxes" class="flex-row">
    <div *ngFor="let input of rarityInputs; let i = index">
      <div class="flex-column align-center justify-center">
        <label
          [for]="input.value"
          [ngClass]="{selected: input.selected}">
          {{ input.value | capitalize }}
        </label>
        <input
          name="rarity"
          type="checkbox"
          [checked]="input.selected"
          (change)="changeCheckbox('rarity', i)"/>
      </div>
    </div>
  </div>
  <div name="searchColorCheckBoxes" class="flex-row">
    <div *ngFor="let input of colorInputs; let i = index">
      <div class="flex-column align-center justify-center">
        <label
          [for]="input.value"
          [ngClass]="{selected: input.selected}"
          [class]="input.value">
          {{ input.value }}
        </label>
        <input
          name="colors"
          type="checkbox"
          [checked]="input.selected"
          (change)="changeCheckbox('color', i)"/>
      </div>
    </div>
    <div class="flex-column align-center justify-center">
      <label
        [for]="excludeColors">
        Exclude other colors
      </label>
      <input
        name="excludeColors"
        type="checkbox"
        [checked]="excludeColors.selected"
        (change)="changeCheckbox('exclude')"/>
    </div>
  </div>
  <div name="searchFormatCheckBoxes" class="flex-row">
    <div *ngFor="let input of formatInputs; let i = index">
      <div class="flex-column align-center justify-center">
        <label
          [for]="input.value"
          [ngClass]="{selected: input.selected}"
          [class]="input.value">
          {{ input.value }}
        </label>
        <input
          name="formats"
          type="checkbox"
          [checked]="input.selected"
          (change)="changeCheckbox('format', i)"/>
      </div>
    </div>
    <div class="flex-column align-center justify-center">
      <label
        [for]="excludeColors">
        Exclude other colors
      </label>
      <input
        name="excludeColors"
        type="checkbox"
        [checked]="excludeColors.selected"
        (change)="changeCheckbox('exclude')"/>
    </div>
  </div>
  <div name="searchPower" class="sliderSection">
    <input
      name="powerCheckbox"
      type="checkbox"
      [checked]="power.selected"
      (change)="changeCheckbox('power')"/>
    <label for="power">Power</label>
    <button
      class="button mathSymbols"
      (click)="mathSymbols.increment(0)">
      {{ mathSymbols.symbols[mathSymbols.indices[0]] }}
    </button>
    <input
      type="range"
      step="1"
      min="0"
      [max]="power.max"
      [value]="power.value"
      [(ngModel)]="power.value"/>
    <span>{{ power.value }}</span>
  </div>
  <div name="searchToughness" class="sliderSection">
    <input
      name="toughnessCheckbox"
      type="checkbox"
      [checked]="toughness.selected"
      (change)="changeCheckbox('toughness')"/>
    <label for="toughness">Toughness</label>
    <button
      class="button mathSymbols"
      (click)="mathSymbols.increment(1)">
      {{ mathSymbols.symbols[mathSymbols.indices[1]] }}
    </button>
    <input
      type="range"
      step="1"
      min="0"
      [max]="toughness.max"
      [value]="toughness.value"
      [(ngModel)]="toughness.value"/>
    <span>{{ toughness.value }}</span>
  </div>
  <div name="searchCMC" class="sliderSection">
    <input
      name="cmcCheckbox"
      type="checkbox"
      [checked]="cmc.selected"
      (change)="changeCheckbox('cmc')"/>
    <label for="cmc">CMC</label>
    <button
      class="button mathSymbols"
      (click)="mathSymbols.increment(2)">
      {{ mathSymbols.symbols[mathSymbols.indices[2]] }}
    </button>
    <input
      type="range"
      step="1"
      min="0"
      [max]="cmc.max"
      [value]="cmc.value"
      [(ngModel)]="cmc.value"/>
    <span>{{ cmc.value }}</span>
  </div>
  <div name ="searchButtons">
    <button (click)="reset()">
      <i class="fa fa-ban"></i>
      Reset
    </button>
    <button (click)="search()">
      <i class="fa fa-search"></i>
      Search
    </button>
  </div>
</div>
