@import '../../../../../assets/variables.scss';

div[name="searchComponent"] {
  margin: 1vh 1vw;

    .sliderSection {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 80%;
      margin: 10px 0;

      label:first-of-type {
        width: 30%;
        font-size: 1.15em;
      }

      button {
        width: 10%;
        margin: 0 10px;
      }

      input[type='range'] {
        width: 50%;
      }

      span {
        width: 10%;
      }
    }

  .mathSymbols {
    border-radius: 0;
    color: $mtgBlack;
    font-size: 18px;
    height: 20px;
    width: 20px;
  }

  .textSearch {
    display: flex;
    margin: 1vh 0;

    label {
      width: 125px;
      font-size: 1.5em;
      transition: all 0.1s;

      &.selected {
        color: $mtgBlue;
      }
    }

    input {
      width: 75%;
      font-size: 1.15em;
    }
  }

  // div[name="searchRarityCheckBoxes"] {
  //   display: flex;
  //   justify-content: space-around;
  //   margin: 1vh 0;
  // }

  div[name="searchRarityCheckBoxes"],
  div[name="searchColorCheckBoxes"],
  div[name="searchFormatCheckBoxes"] {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 1vh 0;

    label {
      display: inline-block;
      width: 125px;
      font-size: 1.5em;
      transition: all 0.1s;
    }
  }

  .colorRow, .rarityRow, .formatRow {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    cursor: pointer;

    div:hover, div.selected {
      color: red;
      text-decoration: underline;
    }
  }

  .colorBox, .excludeBox {
    align-items: center;
    background-color: #aaa;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    margin: 0;
    opacity: 0.2;
    padding: 0;
    transition: all 0.2s;
    width: 100%;

    &:hover, &.selected {
      opacity: 1;
      color: white;
      text-decoration: none !important;
    }
  }

  .selected {
    opacity: 1;
  }

  .white {
    background-color: $mtgWhite;
  }
  .blue {
    background-color: $mtgBlue;
  }

  .black {
    background-color: $mtgBlack;
  }

  .red {
    background-color: $mtgRed;
  }

  .green {
    background-color: $mtgGreen;
  }

  .button-red, .button-green {
    @include coloredButton($mtgRed, white);
    border-radius: initial;
    font-size: initial;
    font-weight: initial;
    height: initial;
    margin: 0 auto;
    padding: 10px;
  }

  .button-green {
    @include coloredButton($mtgGreen, white);
  }
}
