<main [ngSwitch]="modalObject.type">
	<!-- HTML for balloon modal -->
	<div *ngSwitchCase="'balloon'">
		{{ modalObject.details.result }}
	</div>
	<div *ngSwitchCase="'balloon-input'">
		<input
			*ngIf="!entry"
			[(ngModel)]="num"
			(keyup.enter)="entry = modalObject.details.result(num)"
			(keyup.esc)="destroy()"
			(keypress)="keyPressed($event)"
			style="width: 35px"
			givefocus/>
		<span
			*ngIf="entry"
			(click)="destroy()">
			{{ entry }}
		</span>
	</div>
	<div [ngClass]="modalObject.type" *ngSwitchCase="'prompt'">
		<div class="flexContainer">
		<header>
			<h1>{{ modalObject.details.title }}</h1>
		</header>
		<section>
			<label>Name: </label>
			<input #nameInput/>
		</section>
		<footer>
			<button
				[ngClass]="button.class"
				*ngFor="let button of modalObject.details.buttons"
				(click)="button.fx()">
				{{ button.name || 'button error' }}
			</button>
		</footer>
		</div>
	</div>
</main>
