@import "../../../assets/variables";

.prompt {
	color: red;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;

	header {
		flex: 1;
	}

	section {
		flex: 6;
	}

	footer {
		flex: 1;
	}
}

button {
	@extend .button;
	color: white;
}

.cancel {
	background-color: $mtgRed;
	width: 75px;
	height: 40px;
	border-radius: 0;
	margin-right: 2.5px;
	outline-color: $mtgRed;
}

.submit {
	background-color: $mtgGreen;
	width: 75px;
	height: 40px;
	border-radius: 0;
	margin-left: 2.5px;
	outline-color: $mtgGreen;
}