@import "../../../assets/variables";

.prompt {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	header {
		text-align: center;
		
		h1 {
			margin: 0;
		}
	}

	footer {
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 1vw;
	}
}

button {
	@extend .button;
	color: white;
}

.cancel {
	background-color: $mtgRed;
	width: 75px;
	height: 40px;
	border-radius: 0;
	margin-right: 2.5px;
	outline-color: $mtgRed;
}

.submit {
	background-color: $mtgGreen;
	width: 75px;
	height: 40px;
	border-radius: 0;
	margin-left: 2.5px;
	outline-color: $mtgGreen;
}