<main [ngSwitch]="modalObject.type">
	<!-- HTML for balloon modal -->
	<div *ngSwitchCase="'balloon'">
		{{ modalObject.details.result }}
	</div>
	<div [ngClass]="modalObject.type" *ngSwitchCase="'prompt'">
		<header>
			<h1>{{ modalObject.details.title }}</h1>
		</header>
		<section>
			<label>Name</label>
			<input/>
		</section>
		<footer>
			<button
				[ngClass]="button.class"
				*ngFor="let button of modalObject.details.buttons"
				(click)="button.fx()">
				{{ button.name || 'button error' }}
			</button>
		</footer>
	</div>
</main>
