.results-section {

  div[name="card-index"] {
    width: 100px;
    font-size: 3em;
    color: grey;
    text-align: center;
  }

  mtg-card {
    display: block;
    margin: 8px 0;
    transition: all 0.1s;

    &:hover {
      transform: scale(1.03);
    }
  }

  mtg-card:first-of-type {
    display: block;
    margin-bottom: 8px;
    margin-top: 0;
  }

  mtg-card:last-of-type {
    display: block;
    margin-bottom: 0;
    margin-top: 8px;
  }
}
