@import '../../../assets/variables.scss';

.deck-manager {
	max-width: 100%;
}

h4 {
	margin: 0;
}

img {
	max-height: 50px;
	padding-right: 10px;
	cursor: zoom-in;
}

.results-section {
	display: flex;
	width: 100%;

	.card-row {
		list-style: none;
		width: 70%;

		li {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			margin-bottom: 15px;
			cursor: pointer;

			&:hover {
				background-color: #ddd;
			}

			div p {
				margin: 0;
			}
		}
	}

	.deck-list {
		list-style: none;
		width: 30%;

	}
}

.labelAndInput {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	label {
		margin: 1px 0;
	}

	input.card-search {
		font-size: 24px;
		margin: 0;
	}
}


.input-section {
	display: flex;
	flex-direction: column;

	button.search {
		@include coloredButton($mtgGreen, white);
	}
}

span.fa-minus, span.fa-trash {
	color: $mtgRed;
	margin-left: 5px;
}

.flex-column {
	display: flex;
	flex-direction: column;
	margin: 0;

	&.align-center {
		align-items: center;
	}

	&.justify-center {
		justify-content: center;
	}
}

.flex-row {
	display: flex;
	flex-direction: row;
	margin: 0;

	&.align-center {
		align-items: center;
	}

	&.justify-center {
		justify-content: center;
	}
}

button.btn-green, button.btn-red {
	border-radius: 0;
	height: 20px;
	width: 50px;
}

input[type='checkbox'] {
	margin: 10px !important;
}

label {
	transition: all .1s;

	&.selected {

		&.White {
			color: $mtgWhite;
		}

		&.Blue {
			color: $mtgBlue;
		}

		&.Black {
			color: $mtgBlack;
		}

		&.Red {
			color: $mtgRed;
		}

		&.Green {
			color: $mtgGreen;
		}
	}
}

.rarity-row {
	margin: 10px;
}
