<!--<router-outlet></router-outlet>-->
<header class="flex-row justify-around align-center">
	<!-- /deckmanager/create -->
  <section
    name="create">
    <a
      [routerLink]="['/create']">
      <p>Create</p>
    </a>
  </section>
	<!-- /deckmanager/maintain -->
  <section name="maintain">
    <a
      [routerLink]="['/maintain']">
      <p>Maintain</p>
    </a>
  </section>
	<!-- /deckmanager/use -->
  <section name="use">
    <a
      [routerLink]="['/use']">
      <p>Use</p>
    </a>
  </section>
</header>
