@import "../../../assets/variables";

section {
  background-color: $mtgBlack;
  flex-grow: 1;
  text-align: center;
  transition: all 0.3s;
  color: white;
  text-decoration: none;
  letter-spacing: 3.5px;
  font-size: 2em;
  cursor: pointer;

  &:hover {
    background-color: $mtgGreen;

    p {
      transform: scale(1.2);
    }
  }

  p {
    transition: all 0.3s;
  }
}
