/* style for main section of the app */

@import "../../../assets/variables";

main {
	background: $mainGradient;
	display: flex;
	flex-direction: row;
	height: 100%;
	overflow-y: auto;
	width: 100%;
}
