<!-- mtgMain.component.html -->
<main>
	<!-- times the number of players in your game -->
	<section *ngFor="let player of players">
		<div>
			<player-card></player-card>
		</div>
	</section>
	<!-- <mtg-card
		*ngFor="let card of cards"
		[card]="card">
	</mtg-card>
	<app-animate></app-animate> -->
	<!-- <button (click)="createPopBar()">Create Pop Bar</button> -->
	<!-- <pop-bar
		*ngIf="showPop"
		(removePop)="removePop($event)">
	</pop-bar> -->
</main>
<app-full-modal *ngIf="showModal" (closeModal)="closeModal($event)" [modalInfo]="modalInfo"></app-full-modal>
