<!-- playerCard.component.html -->
<div class="playerCard" [ngClass]="{'commanderAttack': isCommander, 'delete': deleteClass}">
	<header class="button-row">
		<button
			class="button-blue"
			(click)="toggleCommanderAttack()"
			[disabled]="">
			<i [ngClass]="isCommander ? 'fa fa-exclamation fa-pulsing' : 'fa fa-exclamation'"></i>
		</button>
		<div>
			<input
				*ngIf="!nameConfirm"
				[(ngModel)]="player.name"
				[placeholder]="player.name"
				(keyup.enter)="confirmName()"
				mtgFocusHighlight/>
			<h2
				*ngIf="nameConfirm"
				(click)="confirmName()">
				{{player.name}}
			</h2>
		</div>
		<button
			class="button-black">
			<i class="fa fa-superpowers"></i>
		</button>
	</header>
	<main>
		<!-- <img src={{player.src}} alt="{{player.name}} profile image"/> -->
	</main>
	<footer>
		<mtg-life-button
			*ngFor="let value of neg"
			[value]="value"
			[player]="player">
		</mtg-life-button>
		<div class="inputLifeTotal">
			<input
				[(ngModel)]="player.lifeTotal"
				*ngIf="inputLifeTotal"
				(keyup.enter)="toggleInputLifeTotal()"
				mtgFocusHighlight/>
			<div
				*ngIf="!inputLifeTotal"
				(click)="toggleInputLifeTotal(event)">
				{{ player.lifeTotal }}
			</div>
		</div>
		<mtg-life-button
			*ngFor="let value of pos"
			[value]="value"
			[player]="player">
		</mtg-life-button>
	</footer>
	<br>
	<!--<button (click)="findPlayer(player)">Find Player</button>-->
	<button
		class="button-red"
		(click)="removePlayer(player)"
		(mouseover)="deleteClass = true"
		(mouseleave)="deleteClass = false">
		Remove {{ player.name }}
	</button>
</div>
