<!-- playerCard.component.html -->
<div [ngClass]="!deleteClass ? 'playerCard' : 'playerCard delete'">
	<header>
		<input
			*ngIf="!nameConfirm"
			[(ngModel)]="player.name"
			[placeholder]="player.name"
			(keyup.enter)="confirmName()"/>
		<h2
			*ngIf="nameConfirm"
			(click)="confirmName()">
			{{player.name}}
		</h2>
	</header>
	<main>
		<!-- <img src={{player.src}} alt="{{player.name}} profile image"/> -->
	</main>
	<footer>
		<mtg-life-button
			*ngFor="let value of neg"
			[value]="value"
			[player]="player">
		</mtg-life-button>
		<div class="inputLifeTotal">
			<input
				[(ngModel)]="player.lifeTotal"
				*ngIf="inputLifeTotal"
				(keyup.enter)="toggleInputLifeTotal()"/>
			<div
				*ngIf="!inputLifeTotal"
				(click)="toggleInputLifeTotal(event)">
				{{ player.lifeTotal }}
			</div>
		</div>
		<mtg-life-button
			*ngFor="let value of pos"
			[value]="value"
			[player]="player">
		</mtg-life-button>
	</footer>
	<br>
	<!--<button (click)="findPlayer(player)">Find Player</button>-->
	<button
		class="button-red"
		(click)="removePlayer(player)"
		(mouseover)="toggleDeleteClass(true)"
		(mouseleave)="toggleDeleteClass(false)">
		Remove {{ player.name }}
	</button>
</div>
