/* style for connecting html */
@import "../assets/variables";

div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;

	mtg-header {

	}

	mtg-main {
		display: flex;
		height: 100%;
		justify-content: center;
		width: 100%;
	}

	mtg-footer {
		@include gradient2Background($altGradientColor1, $altGradientColor2);
	}



}
