@import "../assets/variables";

.appContainer {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow-y: hidden;

	.appContainer-body {
		display: flex;
		flex: 1;
		overflow-y: auto;

		mtg-main {
			width: 100%;
		}
	}
}
