@import '../../../../assets/variables.scss';

.deck-manager {
	max-width: 100%;
}

h4 {
	align-content: center;
	display: flex;
	margin: 0;

	span:nth-child(2) {
		margin-left: 10px;
	}
}

img {
	max-height: 75px;
	padding-right: 10px;
	cursor: zoom-in;
}

.results-section {
	display: flex;
	width: 100%;

	.card-row {
		list-style: none;
		width: 70%;

		li {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			margin-bottom: 15px;
			cursor: pointer;

			&:hover {
				background-color: #ddd;
			}

			div pre {
				white-space: pre-wrap;
				margin: 0;
			}
		}
	}

	.deck-list {
		display: block;
		position: fixed;
		top: 50px;
		right: 0px;
		list-style: none;
		overflow-y: auto;
		width: 25%;

	}
}

.labelAndInput {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	label {
		margin: 1px 0;
	}

	input.card-search {
		font-size: 24px;
		margin: 0;
	}
}


.input-section {
	display: flex;
	flex-direction: column;

	button.search {
		@include coloredButton($mtgGreen, white);
	}

	button.reset {
		@include coloredButton($mtgRed, white);
	}
}

span.fa-minus, span.fa-trash, span.fa-star {
	color: $mtgRed;
	margin-left: 5px;
}

.flex-column {
	display: flex;
	flex-direction: column;
	margin: 0;

	&.align-center {
		align-items: center;
	}

	&.justify-center {
		justify-content: center;
	}
}

.flex-row {
	display: flex;
	flex-direction: row;
	margin: 0;

	&.align-center {
		align-items: center;
	}

	&.justify-center {
		justify-content: center;
	}
}

button.btn-green, button.btn-red, button.btn-blue {
	border-radius: 0;
	height: 20px;
	width: 50px;
}

button.btn-gold {
	border-radius: 0;
	font-weight: normal;
	height: 20px;
	padding: 0 5px;
	width: 50px;
}

label {
	transition: all .1s;

	&.selected {

		&.White {
			color: $mtgWhite;
		}

		&.Blue {
			color: $mtgBlue;
		}

		&.Black {
			color: $mtgBlack;
		}

		&.Red {
			color: $mtgRed;
		}

		&.Green {
			color: $mtgGreen;
		}
	}
}

.rarity-row {
	margin: 10px;

	input[type='checkbox'] {
		margin: 10px;
	}
}

.deckstyle-row {
	margin-top: 10px;

	input[type='checkbox'] {
		margin-right: 10px;
	}
}

.deckCommander {
	background-color: $california;
}
