@import '../../../../assets/variables.scss';

.deck-manager {
	max-width: 100%;

  mtg-search, mtg-build-list {
    width: 33%;
  }

  mtg-results {
    display: flex;
    justify-content: center;
    width: 34%;
  }
}
