/* styling for life buttons */

@import '../../../assets/variables';

.life-gain {
	@extend .button;
	background-color: $mtgGreen;
	height: 40px;
	outline-color: $mtgGreen;
	width: 40px;

	&:hover {
		box-shadow: 0 0 6px $mtgGreen, $basicShadow;
	}
}

.life-loss {
	@extend .button;
	background-color: $mtgRed;
	height: 40px;
	outline-color: $mtgRed;
	width: 40px;

	&:hover {
		box-shadow: 0 0 6px $mtgRed, $basicShadow;
	}

	&:active {
		box-shadow: $buttonPress;

	}
}
