/* Main file for variables throughout the app */

@import url('https://fonts.googleapis.com/css?family=Kreon:400,700|Ubuntu:400,400i,700,700i');

/* Colors */
$mtgBlue: #548dbf;
$mtgGreen: #5fa65d;
$mtgBlack: #3f4038;
$mtgWhite: #d9bfa0;
$mtgRed: #d94e4e;

$veil: rgba(0,0,0,0.6);

/* Gradients */
$mainGradientColor1: #e2ebf0;
$mainGradientColor2: #cfd9df;

$altGradientColor1: #CB356B;
$altGradientColor2: #CB356B;

$clouds1: #ECE9E6;
$clouds2: white;

$cancelGradient1: #ef473a;
$cancelGradient2: #cb2d3e;

$okGradient1: #93F9B9;
$okGradient2: #1D976C;

// pale wood
$paleWoodGradient1: #eacda3;
$paleWoodGradient2: #d6ae7b;

// haikus
$haikusGradient1: #fd746c;
$haikusGradient2: #ff9068;

@mixin gradient2Background($color1, $color2) {
	background: $color2;
	background: -webkit-linear-gradient(120deg, $color1, $color2);
	background: linear-gradient(120deg, $color1, $color2);
}

/* Shadows */
$basicShadow: 0px 3px 5px #999;
$buttonPress: inset 0px 0px 20px #777;

/* Dimensions */
$footerHeight: 20%;
$headerHeight: 80%;

$basicButtonHeight: 50px;
$basicButtonWidth: 100px;

/* Extensions */

.button {
	cursor: pointer;
	color: White;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 0;
	margin: 0;
	height: $basicButtonHeight;
	width: $basicButtonWidth;
	border-radius: 10px;
	border: none;
	box-shadow: $basicShadow;
	transition: box-shadow .2s ease;

	&:hover {
		text-shadow: 0 0px 20px currentColor;
	}

	&:active {
		box-shadow: $buttonPress;
	}

}

@mixin coloredButton($bgColor, $textColor) {
	@extend .button;
	background-color: $bgColor;
	color: $textColor;
	outline-color: $bgColor;
}

.flex-start {
	display: flex;
	justify-content: flex-start;
	margin-left: 10px;
}

.flex-end {
	display: flex;
	justify-content: flex-end;
	margin-right: 10px;
}

@mixin mtgSymbol($bgColor, $textColor, $diameter) {
	align-items: center;
	background-color: $bgColor;
	border-radius: $diameter / 2;
	color: $textColor;
	display: inline-flex;
	font-size: ($diameter / 2);
	height: $diameter;
	justify-content: center;
	width: $diameter;
}
