<!-- mtgFooter.component.html -->
<footer>
	<div>
		<div class="tool-panel">
			<button (click)="coinFlip()">Coin Flip</button>
			<button (click)="multiFlip()">Multi Flips</button>
			<button (click)="d6()">D6</button>
			<button (click)="d20()">D20</button>
			<button (click)="multi20()">Multiple D20</button>
		</div>
	</div>
	<div class="life-panel">
		<life-button
			*ngFor="let value of pos"
			[value]="value"
			(clicked)="clicked($event)">
		</life-button>
		<h1>{{playerLife.life}}</h1>
		<life-button
			*ngFor="let value of neg"
			[value]="value"
			(clicked)="clicked($event)">
		</life-button>
	</div>
	<div>
		<div class="other-panel"></div>
	</div>
</footer>
