/* footer styling */

@import "variables";

footer {
	align-items: center;
	background-color: $mtgWhite;
	display: flex;
	justify-content: space-between;

	aside, main {
		flex: 1;
	}

	.life-panel {

		align-items: center;
		display: flex;
		justify-content: center;

		h1 {
			color: $mtgBlack;
			cursor: pointer;
			font-size: 4em;
			margin: 0 10px;
		}

		life-button {
			margin: 5px;
		}

	}

	.tool-button {
		@extend .button;

		background-color: $mtgBlack;
		color: white;
		height: 40px;
		margin: 10px 5px;
		padding: 0 10px;
		width: auto;

		&:hover {
			box-shadow: 0 0 6px $mtgBlack, $basicShadow;
		}

		&:active {
			box-shadow: $buttonPress;

		}
	}



}
