/* footer styling */

@import "variables";

footer {
	align-items: center;
	background-color: $mtgWhite;
	display: flex;
	justify-content: space-between;

	.life-panel {

		align-items: center;
		display: flex;
		justify-content: center;

		h1 {
			color: $mtgBlack;
			cursor: pointer;
			font-size: 4em;
			margin: 0 10px;
		}

		life-button {
			margin: 5px;
		}

	}



}
