/* popBar.component.scss */

@import "variables";

main {
	align-items: center;
	animation: fadeIn 4s linear forwards;
	background-color: grey;
	bottom: 10vh;
	display: flex;
	flex-direction: row;
	height: 10vh;
	justify-content: center;
	position: absolute;
	width: 100%;
}

section {
	color: white;
	display: flex;
	flex: 1;
	justify-content: center;
}

aside {
	color: white;
	display: flex;
	flex: 1;
}

.flex-start {
	display: flex;
	justify-content: flex-start;
	margin-left: 10px;
}

.flex-end {
	display: flex;
	justify-content: flex-end;
	margin-right: 10px;
}

a {
	cursor: pointer;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	75% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
