/* You can add global styles to this file, and also import other style files */

@import "./assets/variables";

html, body {
	@include gradient2Background($clouds2, $clouds1);
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

h1,h2,h3,h4,h5,h6,button {
	font-family: 'Kreon', serif;
}

mtg-veil {
	background-color: $veil;
	cursor: default;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.modal {
	background-color: white;
	border: 1px solid black;
	box-shadow: $basicShadow;
	display: flex;
	padding: 1vh 1vw;
	position: absolute;
	z-index: 2;
}

// for balloon modals
.balloon {
	align-items: center;
	background-color: $mtgBlue;
	color: white;
	cursor: default;
	font-family: 'Kreon', serif;
	justify-content: center;

	&:hover {
		opacity: .4;
		transition: all .1s;
	}
}

.balloon-input {
	align-items: center;
	background-color: $mtgBlue;
	color: white;
	cursor: default;
	font-family: 'Kreon', serif;
	justify-content: center;

	&.hover {
		opacity: .4;
		transition: all .1s;
	}
}

.crit {
	background-color: $mtgGreen;
	font-weight: 700;
	letter-spacing: 1.1px;
}

.fail {
	background-color: $mtgRed;
	font-weight: 700;
	letter-spacing: 1.1px;
}

// for full modals
.full {
	display: flex;
	flex-direction: column;
}

.createGameModal {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	width: 100%;

	header {

	}

	main {
		width: 100%;

	}

	footer {
		align-items: center;
		display: flex;
		justify-content: flex-end;
	}
}

/* MTG Symbos */

// white circle
.ccWhite {
	@include mtgSymbol($mtgWhite, black, 18px);
}

.ccBlue {
	@include mtgSymbol($mtgBlue, white, 18px);
}

.ccBlack {
	@include mtgSymbol($mtgBlack, white, 18px);
}

.ccRed {
	@include mtgSymbol($mtgRed, white, 18px);
}

.ccGreen {
	@include mtgSymbol($mtgGreen, white, 18px);
}

.ccGrey {
	@include mtgSymbol(#bbb, black, 18px);
}

/* Buttons */
.btn-red {
	@include coloredButton($mtgRed, white);
}

.btn-blue {
	@include coloredButton($mtgBlue, white);
}

.btn-green {
	@include coloredButton($mtgGreen, white);
}

.btn-gold {
	@include coloredButton($california, white);
}

/* common css quickies */
.flat {
	margin: 0;
	padding: 0;
}

.align-center {
	align-content: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-end {
	justify-content: flex-end;
}
