/* You can add global styles to this file, and also import other style files */

@import "./assets/variables";

html, body {
	@include gradient2Background($clouds2, $clouds1);
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

h1,h2,h3,h4,h5,h6,button {
	font-family: 'Kreon', serif;
}


a:link, a:visited, a:hover, a:active {
  color: initial;
}

mtg-veil {
	background-color: $veil;
	cursor: default;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.modal {
	background-color: white;
	border: 1px solid black;
	box-shadow: $basicShadow;
	display: flex;
	padding: 1vh 1vw;
	position: absolute;
	z-index: 2;
}

// for balloon modals
.balloon {
	align-items: center;
	background-color: $mtgBlue;
	color: white;
	cursor: default;
	font-family: 'Kreon', serif;
	justify-content: center;

	&:hover {
		opacity: .4;
		transition: all .1s;
	}
}

.balloon-input {
	align-items: center;
	background-color: $mtgBlue;
	color: white;
	cursor: default;
	font-family: 'Kreon', serif;
	justify-content: center;

	&.hover {
		opacity: .4;
		transition: all .1s;
	}
}

.crit {
	background-color: $mtgGreen;
	font-weight: 700;
	letter-spacing: 1.1px;
}

.fail {
	background-color: $mtgRed;
	font-weight: 700;
	letter-spacing: 1.1px;
}

// for full modals
.full {
	display: flex;
	flex-direction: column;
}

.createGameModal {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	width: 100%;

	main {
		width: 100%;

	}

	footer {
		align-items: center;
		display: flex;
		justify-content: flex-end;
	}
}

/* Rarity Background Classes */
.specialBackground {
	@include gradient2Background($specialGradientColor1, $specialGradientColor2);
}

.mythicBackground {
	@include gradient2Background($mythicGradientColor1, $mythicGradientColor2);
}

.rareBackground {
	@include gradient2Background($rareGradientColor1, $rareGradientColor2);
}

.uncommonBackground {
	@include gradient2Background($uncommonGradientColor1, $uncommonGradientColor2);
}

.commonBackground {
	@include gradient2Background($commonGradientColor1, $commonGradientColor2);
}

/* MTG Symbos */

// white circle
.ccWhite {
	@include mtgSymbol($mtgWhite, black, 16px);
}

.ccBlue {
	@include mtgSymbol($mtgBlue, white, 16px);
}

.ccBlack {
	@include mtgSymbol($mtgBlack, white, 16px);
}

.ccRed {
	@include mtgSymbol($mtgRed, white, 16px);
}

.ccGreen {
	@include mtgSymbol($mtgGreen, white, 16px);
}

.ccGrey {
	@include mtgSymbol(#bbb, black, 16px);
}

.ccWhiteBlue {
	@include mtgSymbol($mtgWhite, white, 16px);
	@include gradient2Background($mtgWhite, $mtgBlue);
}

.ccWhiteBlack {
	@include mtgSymbol($mtgWhite, white, 16px);
	@include gradient2Background($mtgWhite, $mtgBlack);
}

.ccWhiteRed {
	@include mtgSymbol($mtgWhite, white, 16px);
	@include gradient2Background($mtgWhite, $mtgRed);
}

.ccWhiteGreen {
	@include mtgSymbol($mtgWhite, white, 16px);
	@include gradient2Background($mtgWhite, $mtgGreen);
}

.ccBlueBlack {
	@include mtgSymbol($mtgBlue, white, 16px);
	@include gradient2Background($mtgBlue, $mtgBlack);
}

.ccBlueRed {
	@include mtgSymbol($mtgBlue, white, 16px);
	@include gradient2Background($mtgBlue, $mtgRed);
}

.ccGreenBlue {
	@include mtgSymbol($mtgGreen, white, 16px);
	@include gradient2Background($mtgGreen, $mtgBlue);
}

.ccBlackRed {
	@include mtgSymbol($mtgBlack, white, 16px);
	@include gradient2Background($mtgBlack, $mtgRed);
}

.ccBlackGreen {
	@include mtgSymbol($mtgBlack, white, 16px);
	@include gradient2Background($mtgBlack, $mtgGreen);
}

.ccRedGreen {
	@include mtgSymbol($mtgRed, white, 16px);
	@include gradient2Background($mtgRed, $mtgGreen);
}

.ccLifeWhite {
	@include mtgSymbol($mtgWhite, black, 16px);
	@include gradient2Background(#bbb, $mtgWhite);
}

.ccLifeBlue {
	@include mtgSymbol($mtgBlue, white, 16px);
	@include gradient2Background(#bbb, $mtgBlue);
}

.ccLifeBlack {
	@include mtgSymbol($mtgBlack, white, 16px);
	@include gradient2Background(#bbb, $mtgBlack);
}

.ccLifeRed {
	@include mtgSymbol($mtgRed, white, 16px);
	@include gradient2Background(#bbb, $mtgRed);
}

.ccLifeGreen {
	@include mtgSymbol($mtgGreen, white, 16px);
	@include gradient2Background(#bbb, $mtgGreen);
}

/* Buttons */
.btn-red {
	@include coloredButton($mtgRed, white);
}

.btn-blue {
	@include coloredButton($mtgBlue, white);
}

.btn-green {
	@include coloredButton($mtgGreen, white);
}

.btn-gold {
	@include coloredButton($california, white);
}

/* common css quickies */
.center-text {
	text-align: center;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.grow-1 {
	flex-grow: 1;
}

.flat {
	margin: 0;
	padding: 0;
}

.w100 {
  width: 100%;
}

.align-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: flex-end;
}
