/* footer styling */

@import "../../../assets/variables";

footer {
	align-items: center;
	display: flex;
	justify-content: space-between;
	overflow-x: hidden;

	aside, main {
		flex: 1;
	}

	.inputLifeTotal {
		display: flex;
		justify-content: center;
		width: 125px;

		input {
			text-align: center;
			width: 75px;
		}
	}

	.life-panel {
		align-items: center;
		display: flex;
		justify-content: center;

		h1 {
			color: $mtgBlack;
			cursor: pointer;
			font-size: 3em;
			margin: 0 10px;
			text-align: center;
			width: 125px;
		}

		life-button {
			margin: 5px;
		}

	}

	.tool-button {
		@extend .button;

		background-color: $mtgBlack;
		border-radius: 0;
		color: white;
		height: 40px;
		margin: 10px 5px;
		outline-color: $mtgBlack;
		padding: 0 10px;
		width: auto;

		&:hover {
			box-shadow: 0 0 6px $mtgBlack, $basicShadow;
		}

		&:active {
			box-shadow: $buttonPress;

		}
	}

	.tool-button[name="Multi"] {

		&.pressed {
			background-color: red;
			box-shadow: $buttonPress;
			text-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 5px lightyellow;
			transition: all .1s;

		}
	}

	.tool-panel {
		display: flex;
		width: 100%;
	}
}

.addPlayer {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
