/* footer styling */

@import "../../../assets/variables";

footer {
	align-items: center;
	display: flex;
	justify-content: space-between;
	overflow-x: hidden;

	aside, main {
		flex: 1;
	}

	.life-panel {
		align-items: center;
		display: flex;
		justify-content: center;

		h1 {
			color: $mtgBlack;
			cursor: pointer;
			font-size: 3em;
			margin: 0 10px;
		}

		life-button {
			margin: 5px;
		}

	}

	.tool-button {
		@extend .button;

		background-color: $mtgBlack;
		border-radius: 0;
		color: white;
		height: 40px;
		margin: 10px 5px;
		outline-color: $mtgBlack;
		padding: 0 10px;
		width: auto;

		&:hover {
			box-shadow: 0 0 6px $mtgBlack, $basicShadow;
		}

		&:active {
			box-shadow: $buttonPress;

		}
	}

	.tool-panel {
		display: flex;
		width: 100%;
	}



}
