@import "../../../assets/variables";

.table {
	@include gradient2Background($haikusGradient1, $haikusGradient2);
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	flex: 1;
	height: 100%;
	flex-wrap: wrap;
}
